/* Variables de colores */
:root {
  /*Estilos de letra*/
  font-family: "Courier New", Courier, monospace;

  /*Estilos de color*/
  --white: rgb(239, 238, 238);
  --brown: rgb(39, 33, 30);
  --black: rgb(0, 0, 0);
  --green: rgb(0, 128, 0);
  --yellow: rgb(249, 245, 4);
}

/* Estilos para el encabezado */
header {
  background-color: var();
  color: var(--black);
  text-align: center;
  padding: 0 2rem;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  font-size: 24px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
}

nav a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}

/* Estilos para el banner */
.banner {
  text-align: center;
  margin-top: 20px;
  position: relative;
}

.banner img {
  width: 100%;
  max-height: 40rem;
  object-fit: cover;
}

.banner-text {
  color: var(--white);
  background: rgba(0, 255, 0, 0.1);
  border: 1.5px solid rgba(209, 213, 219, 0.3);
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  font-weight: 800;
}

.bannerButton {
  background-color: transparent;
  border-radius: 0 50px;
  border: 0.4rem solid var(--yellow);
  display: inline-block;
  color: var(--white);
  font-family: Arial;
  font-size: 25px;
  padding: 16px 31px;
  text-decoration: none;
}
.bannerButton:active {
  position: relative;
  top: 1px;
}

/* Estilos para el "Nuestros productos" */
.products-section {
  display: flex;
  flex-direction: column;
}

.productsSectionTitle {
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 50px;
}

.column {
  flex: 1;
}
/* Estilos para las cards de productos" */

.tarjeta {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space space-between;
  max-width: 65%;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 15px;
  font-family: sans-serif;
}
.titulo {
  font-size: 24px;
  padding: 10px 10px 0 10px;
}
.productCardBody {
  padding: 10px;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}
.productCardBody img {
    position: relative;
  max-width: 100%;
  max-height: 75%;
  
  transition: transform 0.3s ease-out;
}
.productCardBody img:hover{
    transform: scale(1.1);
}
.productCardText {
  text-align: center;
}
.pie {
  background: var(--green);
  border-radius: 0 0 15px 15px;
  padding: 10px;
  text-align: center;
}
.pie a {
  text-decoration: none;
  color: white;
}
.pie a:after {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
}

